.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    min-height: calc(100% - 14rem);
    margin: 2rem;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 2rem 2rem 2rem;
    margin: 2rem;
    background-color: var(--blue-g0);  

    border-radius: 0.5rem;
    width: 100%;
    max-width: 1980px;

    box-shadow: 0.5rem 1rem 0.5rem var(--blue-g100);
}

.titleContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-size: 1.3rem;


    padding: 1rem;
}

.buttonEdit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 0.25rem;
    border: none;
    background-color: transparent;
    cursor: pointer;

    width: 45%;
    height: 3rem;
   
    font-size: 2rem;
    color: var(--blue);

    transition: background-color filter 0.3s;

    &:hover{
        filter: brightness(0.9);
        background-color: var(--blue-g50);
    }
}
.buttonDel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 45%;
    height: 3rem;
    border-radius: 0.25rem;
    font-size: 2rem;
    color: var(--red);
    background-color: transparent;

    &:hover{
        filter: brightness(0.9);
        background-color: var(--blue-g50);
    }
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--white-g100);
    height: 3rem;
}