.modal{
    width: 768px;
    height: 492px;

    background-color: var(--blue-g0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    transform:  translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.exitModal{
    position: absolute;
    right:1rem;
    top: 1rem;
    opacity: 0.5;
    cursor: pointer;
}